# Libraries

In [1]:
import numpy as np

import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Read Database

In [2]:
dataset = pd.read_csv('Salary_Data.csv')
dataset.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [3]:
X = dataset["YearsExperience"].tolist()  #Input
y = dataset["Salary"].tolist()          #Output

X = np.array(X)
y = np.array(y)

X = np.reshape(X,(-1,1))

# Split into training and test set

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=20)

# Train model and test performance on the test set

In [5]:
regressor = LinearRegression()
regressor.fit(X_train,y_train)

y_pred = regressor.predict(X_test) 
print("r2_score", r2_score(y_test,y_pred))

r2_score 0.9441299149555877

# Pickle for storing the model for use with flask

In [6]:
# Pickle file for stroring
import pickle
pickle_save = open("regressor.pkl","wb")
pickle.dump(regressor, pickle_save)
pickle_save.close()